<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA0-rpn9-oDcWW5xiluV9Lw7hN_lPpRbPA</string>
	<key>GCM_SENDER_ID</key>
	<string>1020860362947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lastExam</string>
	<key>PROJECT_ID</key>
	<string>exam-mobile-83533</string>
	<key>STORAGE_BUCKET</key>
	<string>exam-mobile-83533.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1020860362947:ios:943d8d104c8103314bf276</string>
</dict>
</plist>